
.cources {
    &__title {
        font-weight: 700;
        font-size: 48px;
        text-align: center;
        padding: 80px 0 50px;
    }

    .cources__card__btn {
        padding: 6px 12px;
    }

    &__btns {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        padding-bottom: 30px;
        button {
                background: transparent;
                border: transparent;
                color: black;
        
                &:hover {
                    background: rgb(224, 221, 221);
                    color: black;
                }
        
                &:focus {
                    background-color: hsla(333, 93%, 56%, 1);
                    color: white;
                }
        }

        &__cards--wrapp {
            &__card {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                &__img {
                    width: 100%;
                }


                &__bottom {
                    display: flex;
                    align-items: center;
                }

                
            }
        }
    }
}

.cources {
    .cources__cards--wrapp {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 40px;
        &__card {
            border-radius: 10px;
            transition: .3s;
            &:hover {
                box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
                transform: scale(1.02);
            }
            button {
                width: 60%;
                margin: 0 auto;
                display: block;
                transform: translateY(-25px);
            }
            &__img img {
                width: 100%;
                border-radius: 6px;
            }
        }
    }

    &__card {
        width: 100%;
        max-width: 300px;

        &__stars {
            padding: 0 15px;
        }

        &__title {
            font-weight: 700;
            font-size: 16px;
            padding: 10px 15px 8px;
        }
        &__text {
            font-size: 12px;
            color: hsla(333, 93%, 56%, 1);
            font-weight: 700;
            padding: 0 15px 8px;
        }
        &__bottom {
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 0 15px 25px;
            &__text {
                font-size: 30px;
                font-weight: bold;
            }
        }
    }
}

.cources__card__btn {
    background-color: rgb(38, 38, 231);
    border-color: transparent;
    &:hover {
        border-color: rgb(38, 38, 231);
        background-color: white;
        color: rgb(38, 38, 231);
    }
}

.cources__bottom__link-wrapp {
    width: 100%;
    text-align: center;
    padding: 40px 0 40px;
}

.cources__bottom__link {
    padding: 15px 35px;
    font-size: 16px;
    font-weight: 600;
}

@media (max-width:1100px) {
    .cources {
        .cources__cards--wrapp {
                grid-template-columns: repeat(3, 1fr);
            }
    }
}

@media (max-width:900px) {
    .cources {
        .cources__cards--wrapp {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@media (max-width:600px) {
    .cources {
        .cources__cards--wrapp {
            grid-template-columns: .7fr;
            margin: 0 auto;
            justify-content: center;
        }
    }
}
@media (max-width:450px) {
    .cources {
        .cources__cards--wrapp {
            grid-template-columns: .9fr;
            margin: 0 auto;
            justify-content: center;
        }
    }
}